# JetBrains Webstorm IDE caches
/.idea

# Node modules
/node_modules

# NYC coverage tests files
/.nyc_output
/coverage

# Transpiled versions
/dist
/client-dist

# Package lock
package-lock.json

# Loading only Typescript files. Ignore Javascript
**/*.js
**/*.js.*

# Other files
.DS_Store
.npmrc
.tgz
